	/*REGULAR*/
	@font-face{
      font-family: 'HPSimplified';
      src: url(/ezbuy/html/fonts/HPSimplifiedW04-Regular.eot); /* IE9 compat */	 
      src: url(/ezbuy/html/fonts/HPSimplifiedW04-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */	
	   /* non-IE */ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-Regular.woff') format('woff'), /*IE9 and some modern browsers*/ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-Regular.ttf') format('truetype'); /*iOS, Android, Safari*/
	  	  
	  font-weight: normal;
	  font-style: normal;
}
	/*BOLD*/
	@font-face{
	   font-family: 'HPSimplified';
     src: url(/ezbuy/html/fonts/HPSimplifiedW04-Bold.eot); /* IE9 compat */	 
	   src: url(/ezbuy/html/fonts/HPSimplifiedW04-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */	
	   /* non-IE */ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-Bold.woff') format('woff'), /*IE9 and some modern browsers*/ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-Bold.ttf') format('truetype'); /*iOS, Android, Safari*/
	  	  
	  font-weight: bold;
	  font-style: normal;
}
	/*ITALIC*/
	@font-face{
	   font-family: 'HPSimplified';
       src: url(/ezbuy/html/fonts/HPSimplifiedW04-Italic.eot); /* IE9 compat */	 
	   src: url(/ezbuy/html/fonts/HPSimplifiedW04-Italic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */	
	   /* non-IE */ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-Italic.woff') format('woff'), /*IE9 and some modern browsers*/ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-Italic.ttf') format('truetype'); /*iOS, Android, Safari*/
	  	  
	  font-weight: normal;
	  font-style: italic;
}	
	/*BOLD ITALIC*/
	@font-face{
	   font-family: 'HPSimplified';
       src: url(/ezbuy/html/fonts/HPSimplifiedW04-BoldItalic.eot); /* IE9 compat */	 
	   src: url(/ezbuy/html/fonts/HPSimplifiedW04-BoldItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */	
	   /* non-IE */ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-BoldItalic.woff') format('woff'), /*IE9 and some modern browsers*/ 
	   url('/ezbuy/html/fonts/HPSimplifiedW04-BoldItalic.ttf') format('truetype'); /*iOS, Android, Safari*/
	  	  
	  font-weight: bold;
	  font-style: italic;
}	

  
